# <font color='green'> Introducción a Python </font>

## <font color='green'> 1. Comenzando con Python... </font>

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
print("Quiero aprender Python")

Quiero aprender Python

## <font color='green'> 2. Tipado de datos </font>

### <font color='green'> 2.1 Cadenas de caracteres </font>

In [3]:
cadena = "Hola, estoy aprendiendo los tipos de datos en Python"

In [4]:
cadena

'Hola, estoy aprendiendo los tipos de datos en Python'

In [5]:
print(cadena)

Hola, estoy aprendiendo los tipos de datos en Python

In [6]:
type(cadena)

str

In [7]:
len(cadena)

52

### <font color='green'> 2.2 Número de enteros </font>

In [8]:
num = 10

In [9]:
num

10

In [10]:
type(num)

int

In [11]:
num2 = 10

In [12]:
num*num2

100

In [13]:
num2 = 100

In [14]:
num*num2

1000

In [15]:
num3 = num*num2

In [16]:
num3

1000

In [17]:
num4 = int(5)

In [18]:
num4

5

### <font color='green'> 2.3 Números decimales </font>

In [19]:
num = 10.4

In [20]:
num

10.4

In [21]:
type(num)

float

In [22]:
num2 = float(num)

In [23]:
num2

10.4

In [24]:
type(num2)

float

### <font color='green'> 2.4 Booleanos </font>

In [25]:
a = True

In [26]:
b = False

In [27]:
type(a)

bool

In [28]:
type(b)

bool

In [29]:
a|b

True

In [30]:
a&b

False

### <font color='green'> 2.5 Listas </font>

Las listas son una colección ordenada y mutable de valores separados por comas y entre corchetes. Pueden estar compuestas de diferentes tipos de valores e, incluso, Python permite la creación de listas de listas.

- Definición de una lista

In [31]:
lista = [cadena, num, num2, num3, a, b]

In [32]:
lista

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 True,
 False]

In [33]:
len(lista) # nº elementos de la lista

6

- Elementos de una lista

In [34]:
lista[0] # primer elemento de la lista

'Hola, estoy aprendiendo los tipos de datos en Python'

In [35]:
lista[5] # quinto elemento de la lista

False

In [36]:
lista[1:3] # segundo y tercer elemento de la lista

[10.4, 10.4]

In [37]:
lista[:2] # los dos primeros elementos de la lista

['Hola, estoy aprendiendo los tipos de datos en Python', 10.4]

In [38]:
lista[6]

IndexError: list index out of range

**Solo hay cinco elementos en la lista, por eso el error. Python empieza en cero!!**

In [37]:
lista[::2] # elementos de la lista (1 salto)

['Hola, estoy aprendiendo los tipos de datos en Python', 10.4, True]

- Copiar una lista en otra

In [38]:
lista_copia = lista.copy() # muy útil cuando se quiere trabajar con listas que tienen elementos comunes

In [39]:
lista_copia

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 True,
 False]

In [40]:
prueba = lista

In [42]:
prueba

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 True,
 False]

**Crear un objeto como igual a otro no es adecuado, usar siempre *copy***

- Cambiar y agregar elementos a una lista

In [43]:
lista_copia[0] = "Ya sé algo de tipos de datos"

In [44]:
lista_copia

['Ya sé algo de tipos de datos', 10.4, 10.4, 1000, True, False]

In [45]:
prueba[4] = "Pablo"

In [46]:
prueba

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 'Pablo',
 False]

In [47]:
lista

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 'Pablo',
 False]

In [48]:
lista_copia.append(200)

In [49]:
lista_copia

['Ya sé algo de tipos de datos', 10.4, 10.4, 1000, True, False, 200]

In [50]:
lista_2 = [0, "Pablo", "curso UAH", 25] # creación de una segunda lista

In [51]:
lista_copia.append(lista_2) # segunda lista añadida al último elemento de la lista inicial

In [52]:
lista_copia

['Ya sé algo de tipos de datos',
 10.4,
 10.4,
 1000,
 True,
 False,
 200,
 [0, 'Pablo', 'curso UAH', 25]]

In [53]:
lista_copia[7]

[0, 'Pablo', 'curso UAH', 25]

In [54]:
lista_copia.extend(lista_2) # se añade los elementos de la segunda lista a la lista inicial (copia)

In [55]:
lista_copia

['Ya sé algo de tipos de datos',
 10.4,
 10.4,
 1000,
 True,
 False,
 200,
 [0, 'Pablo', 'curso UAH', 25],
 0,
 'Pablo',
 'curso UAH',
 25]

- Eliminar elemento de la lista

In [56]:
lista_copia.pop(7) # elimina el séptimo elemento de la lista

[0, 'Pablo', 'curso UAH', 25]

In [57]:
lista_copia

['Ya sé algo de tipos de datos',
 10.4,
 10.4,
 1000,
 True,
 False,
 200,
 0,
 'Pablo',
 'curso UAH',
 25]

In [58]:
lista.pop() # elimina el último elemento de la lista

False

In [59]:
lista

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 'Pablo']

### <font color='green'> 2.6 Tuplas </font>

Las tuplas son un tipo de objeto de Python muy similar a las listas. Se diferencian en su sintaxis (uso de paréntesis en vez de corchetes) y en que su contenido no puede ser modificado.

- Definición de la tupla

In [60]:
tupla = (1,2,3,4,5,6,7,8,9)

In [61]:
tupla

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [62]:
len(tupla)

9

- Elementos de la tupla

In [63]:
tupla[0]

1

In [64]:
tupla.index(3)

2

- Cambiar elemento de la tupla

In [65]:
tupla[0] = "Hola"

TypeError: 'tuple' object does not support item assignment

**El error se debe a que las tuplas son inmutables**

### <font color='green'> 2.7 Diccionarios </font>

Los diccionarios son una colección desordenada, mutable e indexada de un par clave-valor; esto es, representan un *array* asociativo con el que representar con una clavea un determinado valor. 

- Definición de un diccionario

In [66]:
diccionario = {"cadena": cadena, "entero": num3, "decimal": num, "booleano": a, "lista": lista}

In [67]:
diccionario

{'cadena': 'Hola, estoy aprendiendo los tipos de datos en Python',
 'entero': 1000,
 'decimal': 10.4,
 'booleano': True,
 'lista': ['Hola, estoy aprendiendo los tipos de datos en Python',
  10.4,
  10.4,
  1000,
  'Pablo']}

- Elemento de un diccionario

In [68]:
diccionario['decimal'] # a partir de la clave se obtine el valor

10.4

In [69]:
diccionario.get("decimal") # también se puede usar el método get

10.4

- Clave y valor de un diccionario

In [73]:
list(diccionario.keys())

['cadena', 'entero', 'decimal', 'booleano', 'lista']

In [74]:
list(diccionario.values())

['Hola, estoy aprendiendo los tipos de datos en Python',
 1000,
 10.4,
 True,
 ['Hola, estoy aprendiendo los tipos de datos en Python',
  10.4,
  10.4,
  1000,
  'Pablo']]

In [75]:
diccionario.items() # también items

dict_items([('cadena', 'Hola, estoy aprendiendo los tipos de datos en Python'), ('entero', 1000), ('decimal', 10.4), ('booleano', True), ('lista', ['Hola, estoy aprendiendo los tipos de datos en Python', 10.4, 10.4, 1000, 'Pablo'])])

- Añadir y eliminar elementos de un diccionario

In [76]:
diccionario["final"] = "Fin del diccionario"

In [77]:
diccionario

{'cadena': 'Hola, estoy aprendiendo los tipos de datos en Python',
 'entero': 1000,
 'decimal': 10.4,
 'booleano': True,
 'lista': ['Hola, estoy aprendiendo los tipos de datos en Python',
  10.4,
  10.4,
  1000,
  'Pablo'],
 'final': 'Fin del diccionario'}

In [78]:
diccionario.pop("final")

'Fin del diccionario'

In [79]:
diccionario

{'cadena': 'Hola, estoy aprendiendo los tipos de datos en Python',
 'entero': 1000,
 'decimal': 10.4,
 'booleano': True,
 'lista': ['Hola, estoy aprendiendo los tipos de datos en Python',
  10.4,
  10.4,
  1000,
  'Pablo']}

In [80]:
diccionario.pop("lista")

['Hola, estoy aprendiendo los tipos de datos en Python',
 10.4,
 10.4,
 1000,
 'Pablo']

In [81]:
diccionario

{'cadena': 'Hola, estoy aprendiendo los tipos de datos en Python',
 'entero': 1000,
 'decimal': 10.4,
 'booleano': True}

## <font color='green'> 3. Estructuras de flujo </font>

### <font color='green'> 3.1 Sentencias condicionales </font>

Permite trabajar con diferentes condiciones (if, elif o else) de forma que, en base a la evaluación de la sentencia, se llevará a cabo la ejecución correspondiente. 

Se presentan varios ejemplos de uso:

In [82]:
a = 20
b = 10

In [83]:
a>b

True

In [84]:
a<b

False

In [85]:
a==b

False

In [86]:
a!=b

True

In [87]:
print("a=" + a)

TypeError: can only concatenate str (not "int") to str

In [88]:
type(a)

int

In [89]:
str(a)

'20'

In [90]:
print("a=" + '_' + str(a))

a=_20

- Ejemplo 1: ¿Cómo es un número en relación a otro?

In [91]:
print("a=" + str(a) + "; b=" + str(b))
if a>b:
    print("El mayor es " + str(a))
elif a==b:
    print("Son iguales")
else:
    print("El mayor es " + str(b))

a=20; b=10
El mayor es 20

- Ejemplo 2: ¿Positivo, negativo o neutro?

In [92]:
x = 3
if x > 0: # importante la identación en python
    print('El número es positivo')
elif x == 0:
    print('Es igual a cero')
else:
    print('El número es negativo')

El número es positivo

### <font color='green'> 3.2 Bucles <font>

Los bucles son utilizados cuando un mismo bloque del código tiene que ser ejecutado un número "x" de veces. Los dos bucles más destacados en Pyhton son:
- For: permite iterar sobre una colección de valores (listas, tuplas, diccionarios, etc.)
- While: funciona repetidamente mientras que la condición que lo controla sea cierta

#### <font color='green'> For <font> 

- Uso de la función *range*

In [94]:
# Pintar números desde 1 a 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [95]:
suma=0
for i in range(1,11):
    suma = suma+i
print(suma)

55

In [97]:
# Pintar números impares (1 a 10)
for i in range(1,11,2): 
    print(i)

1
3
5
7
9

In [98]:
# Tablas de multiplicar
total = 10
hasta = 5

for i in range(1,hasta+1):
    print(f'Tabla del {i}')
    for j in range(1, total+1):
        print(f'{i}*{j}={i*j}')

Tabla del 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
Tabla del 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
Tabla del 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
Tabla del 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
Tabla del 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

- Iteracción sobre una lista

In [99]:
# Presentación de elementos de la lista en Mayúsculas
fruta = ['naranja', 'manzana', 'fresa', 'uva', 'cereza', 'plátano']
for i in fruta:
    print(i.upper())

NARANJA
MANZANA
FRESA
UVA
CEREZA
PLÁTANO

- Uso de la función **enumerate**

In [100]:
nombres = ['Pablo', 'David', 'María', 'Lucía', 'Roberto', 'Paula']
for i in enumerate(nombres):
    print(i)

(0, 'Pablo')
(1, 'David')
(2, 'María')
(3, 'Lucía')
(4, 'Roberto')
(5, 'Paula')

- Uso de la función **zip**

In [101]:
for i,j in zip(nombres, fruta):
    print(i,j)

Pablo naranja
David manzana
María fresa
Lucía uva
Roberto cereza
Paula plátano

In [102]:
ciudad = ['Madrid', 'León', 'Barcelona', 'Toledo']
for i,j in zip(nombres, ciudad):
    print(i,j)

Pablo Madrid
David León
María Barcelona
Lucía Toledo

- Uso de las **list Comprehension**

In [117]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
fruta = ['naranja', 'manzana', 'fresa', 'uva', 'cereza', 'plátano']
[i.upper() for i in fruta]

['NARANJA', 'MANZANA', 'FRESA', 'UVA', 'CEREZA', 'PLÁTANO']

In [105]:
ciudad_2 = ['León', 'Ávila', 'Salamanca', 'Zamora', 'Palencia', 'Burgos', 'Valladolid', 'Soria', 'Segovia']

[i for i in ciudad if i in ciudad_2]

['León']

In [106]:
[n for n in range(10) if n % 2 == 0]

[0, 2, 4, 6, 8]

- Iteracción sobre un diccionario

In [109]:
datos = {'Nombre': 'Pablo', 'Apellido': 'Sánchez', 'Estudios': 'Máster Universitario', 'Profesion':'Data Scientist'}

In [110]:
# solo las claves del diccionario
for i in datos.keys():
    print(i)

Nombre
Apellido
Estudios
Profesion

In [111]:
# solo los valores del diccionario
for i in datos.values():
    print(i)

Pablo
Sánchez
Máster Universitario
Data Scientist

In [112]:
for i, j in zip(datos.keys(), datos.values()):
    print(f'{i}: {j}')

Nombre: Pablo
Apellido: Sánchez
Estudios: Máster Universitario
Profesion: Data Scientist

In [115]:
# salida en formato tupla
for i in datos.items():
    print(i)

('Nombre', 'Pablo')
('Apellido', 'Sánchez')
('Estudios', 'Máster Universitario')
('Profesion', 'Data Scientist')

In [116]:
for i,j in datos.items():
    print(f'{i}: {j}')

Nombre: Pablo
Apellido: Sánchez
Estudios: Máster Universitario
Profesion: Data Scientist

#### <font color='green'> While <font>

In [125]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [120]:
i=1
suma=0
while i <= 10:
    suma = suma+i
    i = i+1
print(suma)

55

In [124]:
total = 10 
hasta = 5

i = 1
while( i<= 5):
    print(f'Tabla de {i}')
    j = 1
    while( j<= 10):
        print(f'{i}*{j}={i*j}')
        j = j+1
    i=i+1

Tabla de 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
Tabla de 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
Tabla de 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
Tabla de 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
Tabla de 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

## <font color='green'> 4. Funciones </font>

Las funciones permiten aislar partes específicas del código y reutilizarlas en cualquier lugar. Para definir una función Python tiene la palabra reservada **def**.

### <font color='green'> 4.1 Funciones estándar </font>

Se presentan algunos ejemplos para ilustrar su sintaxis:

- Un número es mayor que otro

In [1]:
def Mayor(a, b):
    if a>b:
        return a
    else:
        return b

In [2]:
n = Mayor(3, 7) 
print(n)

7

In [3]:
n = Mayor(10, 2)
print(n)

10

In [4]:
n = Mayor(40,40)
print(n)

40

- Sumar dos números cualesquiera

In [5]:
def Sumar(x,y):
    return x+y

In [6]:
Sumar(3, 5)

8

In [7]:
Sumar(-2,-7)

-9

- Sumar todos los números existentes en un intervalo

In [8]:
def SumaEntre(a, b):
    
    suma = 0
    for i in range(a, b+1): # b+1 para que el intervalo sea cerrado (contenga el valor b)
        suma = suma + i 
    return suma

In [9]:
valor = SumaEntre(1, 5)
print(valor)

15

- Funciones con más de una salida

In [10]:
def Operacion_Basica(a,b):
    return a+b, a-b

In [11]:
Operacion_Basica(5,3)

(8, 2)

In [12]:
suma, resta = Operacion_Basica(5,3)

In [13]:
print(suma)
print(resta)

8
2

In [14]:
suma, _ = Operacion_Basica(6,9)

_, resta = Operacion_Basica(6,9)

In [15]:
suma

15

In [16]:
resta

-3

### <font color='green'> 4.2 Funciones anónimas </font>

- Uso de funciones **lambda**

En algunos casos, pueden definirse funciones a través de la sentencia **lambda**. Esta palabra se reserva para la construcción de funciones "anónimas" en Python.

In [126]:
Sumar_2 = lambda x,y: x+y

In [127]:
Sumar_2(3, 5)

8

In [128]:
Sumar_2(-2,-7)

-9

## <font color='green'> 5. Excepciones </font>

Las excepciones son una forma de trabajo que disponen los lenguajes de programación para encapsular posibles errores en el código.

A la hora de definir una excepción se utilizan las sentencias *try* y *except* (aunque también puede haber otras cláusulas como *finally* o *else*). 

Las excepciones pueden ser utilizadas en cualquier parte de nuestro código.

### <font color='green'> 5.1 Excepciones básicas </font>

- Divisible entre cero

In [129]:
a=5
b=0

a/b

ZeroDivisionError: division by zero

In [130]:
try:
    a/b
except Exception as e:
    print(e)

division by zero

- Fuera de rango

In [131]:
lista = [1,2,3,4,5]

In [132]:
a = len(lista)
try:
    print(lista[a+1])
except Exception as e:
    print(e)

list index out of range

-  Conversión a mayúsculas de un caracter o palabra

In [133]:
def mayuscula(nombre):

    try:
        print(nombre.upper())
    except Exception as e:
        print(e)
    finally: 
        print("Ejecución realizada")

In [134]:
mayuscula("hola")

HOLA
Ejecución realizada

In [135]:
mayuscula(5)

'int' object has no attribute 'upper'
Ejecución realizada

In [136]:
def mayuscula2(nombre):

    try:
        print(nombre.upper())
    except:
        print("Por favor, revisa que se ha introducido una cadena de caracteres")
    finally: 
        print("Ejecución realizada")

In [137]:
mayuscula2("3")

3
Ejecución realizada

- Cálculo de raíz cuadra y cuadrado de un número

In [138]:
import math

def operacion_matematica(numero):

    try: 
        print(f'La raiz cuadra de {numero} es {math.sqrt(numero)}')
    except Exception as e:
        print(e)
    else:
        print(f'El cuadrado de {numero} es {numero*numero}')

In [139]:
operacion_matematica(5)

La raiz cuadra de 5 es 2.23606797749979
El cuadrado de 5 es 25

In [140]:
operacion_matematica(-1)

math domain error

### <font color='green'> 5.2 Excepciones personalizadas <font>


Este tipo de excepciones son específicas de nuestro código. Se usa la cláusula *raise*.
    
- Ejemplo 1

In [154]:
def profesiones_data(profesion):
    lista_profesiones = ["data-scientist", "data-engineer", "machine-learning engineer", "data-analyst"]
    profesion = profesion.lower()
    if profesion not in lista_profesiones:
        raise ValueError(f"{profesion} no es compatible. Solo disponible {lista_profesiones}")
    return profesion

In [155]:
profesiones_data("DATA-scientist")

'data-scientist'

In [157]:
profesiones_data("data-SCIENTIST")

'data-scientist'

In [158]:
profesiones_data("data SCIENTIST")

ValueError: data scientist no es compatible. Solo disponible ['data-scientist', 'data-engineer', 'machine-learning engineer', 'data-analyst']

- Ejemplo 2

In [160]:
def interes_simple(cantidad, anio, tasa):

    tasa_porcentaje = tasa/100

    try:
        if tasa_porcentaje >1:
            raise ValueError(tasa_porcentaje)
        interes = (cantidad * anio * tasa_porcentaje)
        print(f'La cantidad percibida es de {interes}')
        return interes
    except ValueError:
        print('Tasa de interés fuera de rango')

In [161]:
interes_simple(1000, 2, 8)

La cantidad percibida es de 160.0

160.0

In [162]:
interes_simple(1000, 2, 12)

La cantidad percibida es de 240.0

240.0

In [163]:
interes_simple(1000, 2, 150)

Tasa de interés fuera de rango

## <font color='green'> 6. Clases </font>

Las clases son constructoras de objetos y constituyen una parte esencial en la programación orientada a objetos. 
Las clases se componenten de métodos que definen la clase y sus operaciones. 

Una clase se define con la instrucción **class** y se inicia con la sentencia *_init_* que es el constructor de la misma. Por su parte, los métodos se inician con la instrucción *self* (en general).


Veamos algunos ejemplos para ilustrar el uso de una Clase

- Operaciones matemáticas

In [165]:
class Calculadora_basica:

    def __init__(self, a, b):
        self.a = a
        self.b = b
    
    def suma(self):
        return self.a + self.b
    
    def resta(self):
        return self.a - self.b

    def producto(self):
        return self.a*self.b
    
    def division(self):
        return self.a/self.b

Se llama a la clase para definir el objeto y, posteriormente, a los respectivos métodos

In [166]:
operaciones = Calculadora_basica(5, 8)  # argumentos de entrada (números 5, 8)

El objeto *operaciones* dispondrá de la funcionalidad necesaria para realizar las operaciones básicas (5,8)

In [181]:
# se llama a los respectivos métodos
print(f'Operaciones básicas - datos de entrada: {operaciones.a} y {operaciones.b}')
print(f'\n Suma: {operaciones.suma()}')
print(f'\n Resta: {operaciones.resta()}')
print(f'\n Producto: {operaciones.producto()}')
print(f'\n Cociente: {operaciones.division()}')

Operaciones básicas - datos de entrada: 5 y 8

 Suma: 13

 Resta: -3

 Producto: 40

 Cociente: 0.625

- Cálculo Área (circunferencia, cuadrado, rectángulo y triángulo equilátero)

La siguiente clase define una estructura para calcular el área de diferentes figuras geométricas

In [168]:
class Area:

    def __init__(self, r, l, b, a):
        self.r = r
        self.l = l
        self.b = b
        self.a = a

    def circunferencia(self, pi):
        return pi*self.r**2
    
    def cuadrado(self):
        return self.l**2

    def rectangulo(self):
        return self.b*self.a
    
    def triangulo_equilatero(self):
        return self.b*self.a/2

Se llama a la clase y se define el objeto en cuestión

In [169]:
calculo_area = Area(r=4, l=5, b=6, a=3)

In [171]:
from math import pi

print("Cálculo del área de diferentes figuras geométricas")
print(f'\n Circunferencia de radio {calculo_area.r}: {calculo_area.circunferencia(pi)}')

print(f'\n Cuadrado de lado {calculo_area.l}: {calculo_area.cuadrado()}')

print(f'\n Rectángulo de base {calculo_area.b} y lado {calculo_area.a}: {calculo_area.rectangulo()}')

print(f'\n Triángulo equilátero de base {calculo_area.b} y lado {calculo_area.a}: {calculo_area.triangulo_equilatero()}')

Cálculo del área de diferentes figuras geométricas

 Circunferencia de radio 4: 50.26548245743669

 Cuadrado de lado 5: 25

 Rectángulo de base 6 y lado 3: 18

 Triángulo equilátero de base 6 y lado 3: 9.0

Las Clases también pueden contener *métodos privados*. Un método privado es aquel método al que no se puede acceder fuera de la clase en la que están declarados ni de ninguna otra clase base. Este tipo de métodos se declaran mediante guiones bajos dobles al principio del nombre.

- Información Personal

In [172]:
class Info_persona:

    def __init__(self, nombre, edad, provincia, trabajo):
        self.nombre = nombre
        self.edad = edad
        self.provincia = provincia
        self.trabajo = trabajo

    def __tiempo_jubilacion(self):
        return 65-self.edad
    
    def info(self):
        print(f'Nombre: {self.nombre}, Edad: {self.edad}, Provincia: {self.provincia}, Trabajo: {self.trabajo}, Años hasta la jubilacion: {self.__tiempo_jubilacion()}')

In [173]:
persona_1 = Info_persona(nombre="Pablo", edad=28, provincia="Avila", trabajo="DS")
persona_1.info()

Nombre: Pablo, Edad: 28, Provincia: Avila, Trabajo: DS, Años hasta la jubilacion: 37

In [174]:
persona_2 = Info_persona(nombre="Luis", edad=33, provincia="Madrid", trabajo="BA")
persona_2.info()

Nombre: Luis, Edad: 33, Provincia: Madrid, Trabajo: BA, Años hasta la jubilacion: 32

In [175]:
persona_2.__tiempo_jubilacion()

AttributeError: 'Info_persona' object has no attribute '__tiempo_jubilacion'

**Estos métodos no pueden invocarse en la clase instanciada. Son métodos ocultos**

### <font color='green'> 6.1 Herencia </font>

Se puede definir una clase a partir de una o más clases ya existentes. Este hecho se conoce como **Herencia**. 

Es importante destacar que las clases hijas no pueden acceder a los métodos privados de la clase padre.

- Más funcionalidades a la calculadora...

In [178]:
class Calculadora_compleja(Calculadora_basica):

    def mayor_menor(self):
        if self.a > self.b:
            return self.a
        elif self.a == self.b:
            return self.a
        else:
            return self.b

    def resto(self):
        return self.a % self.b

Se define un nuevo objeto que permite realizar, además de las operaciones básicas a partir de dos números, otros funcionalidades

In [180]:
operaciones2 = Calculadora_compleja(2, 6)

print(f'Operaciones básicas - datos de entrada: {operaciones2.a} y {operaciones2.b}')
print(f'\n Suma: {operaciones2.suma()}')
print(f'\n Resta: {operaciones2.resta()}')
print(f'\n Producto: {operaciones2.producto()}')
print(f'\n Cociente: {operaciones2.division()}')
print(f'\n Resto: {operaciones2.resto()}')
print(f'\n Número más alto: {operaciones2.mayor_menor()}')

Operaciones básicas - datos de entrada: 2 y 6

 Suma: 8

 Resta: -4

 Producto: 12

 Cociente: 0.3333333333333333

 Resto: 2

 Número más alto: 6

Puede ser que, en la clase hija se necesiten nuevos parámetros. En este caso, es necesario utilizar el constructor *init*.

In [182]:
class Sumar_numeros_divisibles(Calculadora_basica):

    def __init__(self, a, b, c):
        Calculadora_basica.__init__(self, a, b)
        self.c = c

    def suma_divisibles(self):
        suma= 0
        for i in range(self.a, self.b):
            if not i%self.c==0:
                suma = suma + i
        return suma

    def mayor_menor(self):
        if self.a>self.b:
            return self.a

        elif self.a==self.b:
            return self.a
        else:
            return self.b

    def resto(self):
        return self.a%self.b

In [183]:
operaciones3 = Sumar_numeros_divisibles(1, 11, 2)

print(f'Operaciones básicas - datos de entrada: {operaciones3.a} y {operaciones3.b}')
print(f'\n Suma: {operaciones3.suma()}')
print(f'\n Resta: {operaciones3.resta()}')
print(f'\n Producto: {operaciones3.producto()}')
print(f'\n Cociente: {operaciones3.division()}')
print(f'\n Resto: {operaciones3.resto()}')
print(f'\n Número más alto: {operaciones3.mayor_menor()}')
print(f'\n Suma intervalo no divisibles por {operaciones3.c}: {operaciones3.suma_divisibles()}')

Operaciones básicas - datos de entrada: 1 y 11

 Suma: 12

 Resta: -10

 Producto: 11

 Cociente: 0.09090909090909091

 Resto: 1

 Número más alto: 11

 Suma intervalo no divisibles por 2: 25

### <font color='green'> 6.2 Tipos de Métodos (instancia, clase y estático) </font>

#### <font color='green'> Ejemplo de método de clase </font>

- Área rectángulo y cuadrado:

In [184]:
class Rectangulo_area:

    def __init__(self, ancho, largo):
        self.ancho = ancho
        self.largo = largo

    def area(self):
        return self.ancho*self.largo
    
    @classmethod
    def cuadrado(cls, lado):
        return cls(lado, lado)

Se define un objeto "rectángulo" y se calcula su área

In [185]:
rectangulo = Rectangulo_area(ancho=2, largo=3)
print(f'Área del rectángulo de base {rectangulo.ancho} y altura {rectangulo.largo}: {rectangulo.area()}')

Área del rectángulo de base 2 y altura 3: 6

Uso del método de clase para calcular un objeto que obtenga el área de un cuadrado (ancho=largo)

In [186]:
cuadrado = Rectangulo_area.cuadrado(2)
print(f'Área del cuadrado de lado {cuadrado.ancho}: {cuadrado.area()}')

Área del cuadrado de lado 2: 4

#### <font color='green'> Ejemplo de método de clase y estático </font>

- Menú del día

In [191]:
class Alimento:

    def __init__(self, tipo):
        self.tipo = tipo
    
    @staticmethod
    def caliente_frio(temperatura):

        if temperatura > 30:
            print("\n Se sirve: caliente")
        elif temperatura > 10:
            print("\n Se sirve: normal")
        elif temperatura > 0:
            print("\n Se sirve: frío")
        else:
            print("\n Se sirve: helado")

    @classmethod
    def add_alimento(cls, tipo):
        return cls(tipo)

    def nombre(self):
        return self.tipo

Creamos un objeto para cada pantalla y presentamos el menú para hoy

In [194]:
sopa = Alimento("Sopa de marisco")
filete = Alimento.add_alimento("Filete de ternera")
helado = Alimento.add_alimento("helado de chocolate")
agua = Alimento.add_alimento("agua")
cafe = Alimento.add_alimento("café con leche")
chupito = Alimento.add_alimento("chupito de hierbas")


print("### MENÚ DEL DÍA ###")

print(f'\n Primeros: {sopa.nombre()}') # indicar nombre
sopa.caliente_frio(36) # indicar bucket temperatura

print(f'\n Segundos: {filete.nombre()}') # indicar nombre
filete.caliente_frio(21) # indicar bucket temperatura

print(f'\n Postre: {helado.nombre()}') # indicar nombre
helado.caliente_frio(-5) # checkear temperatura

print(f'\n Bebida: {agua.nombre()}') # indicar nombre
agua.caliente_frio(32) # checkear temperatura

print(f'\n Sobremesa (I): {cafe.nombre()}') # indicar nombre
cafe.caliente_frio(16) # checkear temperatura

print(f'\n Sobremesa (II): {chupito.nombre()}') # indicar nombre
chupito.caliente_frio(7) # checkear temperatura

### MENÚ DEL DÍA ###

 Primeros: Sopa de marisco

 Se sirve: caliente

 Segundos: Filete de ternera

 Se sirve: normal

 Postre: helado de chocolate

 Se sirve: helado

 Bebida: agua

 Se sirve: caliente

 Sobremesa (I): café con leche

 Se sirve: normal

 Sobremesa (II): chupito de hierbas

 Se sirve: frío